$max-width: 144rem;

$spacing: 1em;
$spacing-m: 2em;
$spacing-l: 4em;

$negative-margin: -20vh;

$rwd-spacing: 2vh 6vw;
$rwd-spacing-m: 4vh 6vw;
$rwd-spacing-l: 6vh 6vw;
$rwd-spacing-xl: 10vh 6vw;
$rwd-spacing-xxl: 20vh 6vw;

$svg-width: 7vw;

$text-container: 60ch;

$padding-bottom: 1em;