$polygon-s: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
$polygon-m: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
$polygon-l: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
$polygon-xl: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);

$polygon-variant-xl: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
$polygon-variant-xxl: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
$polygon-variant-xxxl: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
